$default-spacing: 40px;

.main {
    padding-top: 20vh;
    text-align: center;

    h1 {
        font-size: 60px;
    }
    h2 {
        font-size: 30px;
        margin-bottom: $default-spacing;
        color: var(--color-3);
    }

    // Big call to action
    .register,
    .login {
        display: inline-block;
        margin: 10px;
    }

    .view-sheets {
        display: inline-block;
        margin: 10px;
    }
}

a {
    transition: background-color 0.2s;
    display: block;
    width: 250px;
    border-radius: 20px;
    padding: 20px;
    font-size: 20px;
}

@media (max-width: 950px) {
    .new-user {
        text-align: center;
        h1 {
            font-size: 50px;
        }
        .register,
        .login {
            padding: 5px;
        }
    }

    a {
        font-size: 20px;
    }
}
