$default-spacing: 40px;

.main {
}

.sales-pitch {
    text-align: center;
    padding: $default-spacing;
    margin-bottom: $default-spacing;
    background-color: var(--color-3);
    .call-to-action {
        button {
            background: none;
            border: none;
            padding: 0;
            cursor: pointer;
            outline: inherit;
            margin: 20px;
            color: var(--emphasized-text-color);
        }
    }
}

.information {
    text-align: left;
    width: 1000px;
    max-width: 90vw;
    margin: auto;
}

.columns {
    text-align: center;
}

.column {
    display: inline-block;
    width: auto;
    margin: 2vh;
}

.information-card {
    text-align: center;
    padding: $default-spacing;
    background-color: var(--color-4);
}

@media (max-width: 950px) {
    .information-card {
        width: 90vw;
    }
}
