// Color scheme
$brand-color: #bea534;
$brand-color-secondary: #332020;

$light-accent: #c2bda9;
$dark-accent: #2b2927;

$light-shade: #e2dbc5; // White
$dark-shade: #181616; // Black

// Colors are sorted into tuples (light theme, dark theme)
$colors: (
    --brand-color: ($brand-color, $brand-color-secondary),

    --light-accent: ($light-accent, $dark-accent),
    --dark-accent: ($dark-accent, $light-accent),
    
    --background-color: ($light-shade, $dark-shade),
    --text-color: ($dark-shade, $light-shade)
);