.outline, .text1, .text2, .chicken1, .chicken1Shadow, .chicken2 {
    transition: fill 0.2s;
}

.outline {
    fill: var(--logo-outline);
}

.text1 {
    fill: var(--logo-text1);
}

.text2 {
    fill: var(--logo-text2);
}

.chicken1 {
    fill: var(--logo-chicken1);
}

.chicken1Shadow {
    fill: var(--logo-chicken1Shadow);
}

.chicken2 {
    fill: var(--logo-chicken2);
}