<div class="main">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value, $event)">
        <h1>Register</h1>
        <div>
            <label>
                Display Name <p class="form-error">{{errors.displayName}}</p>
                <input id="nickname" type="text" formControlName="displayName">
            </label>

            <label>
                Email <p class="form-error">{{errors.email}}</p>
                <input id="email" type="text" formControlName="email">
            </label>
        
            <label>
                Password <p class="form-error">{{errors.password}}</p>
                <input id="current-password" type="password" formControlName="password">
            </label>

            <label>
                Confirm Password <p class="form-error">{{errors.confirmPassword}}</p>
                <input id="new-password" type="password" formControlName="confirmPassword">
            </label>
    
            <p class="form-error">{{overallError}}</p>
            <button type="submit" class="solid-button">
                Register
            </button>
        </div>
    </form>
</div>
