<div class="main">
    <!--Hamburger Icon-->
    <div class="mobile-menu-toggle" (click)="toggleMobileMenu()">
        <button><i class="{{mobileMenuActive ? 'fas fa-times' : 'fas fa-bars'}}"></i></button>
    </div>

    <!--Logo-->
    <div class="logo">
        <a routerLink="home/">
            <app-logo></app-logo>
        </a>
    </div>

    <!--Navigation area (links) - Desktop -->
    <nav class="top-nav">
        <ul>
            <li><a routerLink="home/">Home</a></li>
            <li *ngIf="!profile?.isLoggedIn"><a routerLink="user/login/">Login</a></li>
            <li *ngIf="!profile?.isLoggedIn"><a routerLink="user/register/">Register</a></li>

            <li *ngIf="profile?.isLoggedIn"><button (click)="logout()">Logout</button></li>
            

            <!--Light and dark mode switch-->
            <li>
                <div *ngIf="getCurrentMode() == 'theme-light'" class="theme-toggle">
                    <button (click)="toggleTheme()">
                        <i class="fas fa-toggle-on"></i>
                    </button>
                    <i class="fas fa-sun"></i>
                </div>
                <div *ngIf="getCurrentMode() != 'theme-light'" class="theme-toggle">
                    <button (click)="toggleTheme()">
                        <i class="fas fa-toggle-off"></i>
                    </button>
                    <i class="fas fa-moon"></i>
                </div>
            </li>
        </ul>
    </nav>
</div>

<!--Navigation area (links) - Mobile -->
<nav class="mobile-nav" [@mobileMenuOpenClosed]="mobileMenuActive ? 'open' : 'closed'">
    <ul>
        <li><a routerLink="home/" (click)="closeMobileMenu()">Home</a></li>
        <li *ngIf="!profile?.isLoggedIn"><a routerLink="user/login/">Login</a></li>
        <li *ngIf="!profile?.isLoggedIn"><a routerLink="user/register/">Register</a></li>
        <li *ngIf="profile?.isLoggedIn"><button (click)="logout()">Logout</button></li>
        <!--Light and dark mode switch-->
        <li>
            <div *ngIf="getCurrentMode() == 'theme-light'" class="theme-toggle">
                <button (click)="toggleTheme()">
                    <i class="fas fa-toggle-on"></i>
                </button>
                <i class="fas fa-sun"></i>
            </div>
            <div *ngIf="getCurrentMode() != 'theme-light'" class="theme-toggle">
                <button (click)="toggleTheme()">
                    <i class="fas fa-toggle-off"></i>
                </button>
                <i class="fas fa-moon"></i>
            </div>
        </li>
    </ul>
</nav>