// Variables
$nav-bar-height: 80px;
$nav-bar-side-padding: 20px;

// Main
.main {
    overflow: hidden;
    display: block;
    padding-left: $nav-bar-side-padding;
    padding-right: $nav-bar-side-padding;
}

// Logo
.logo {
    float: left;
    height: $nav-bar-height;
    display: flex;
    align-items: center;
    a {
        &:hover {
            filter: saturate(150%);
        }
        &:active {
            filter: saturate(200%);
        }
    }
}

// Mobile menu toggle
.mobile-menu-toggle {
    float: left;
    height: $nav-bar-height;

    // Centering contents vertically
    display: flex;
    align-items: center;

    button {
        outline: inherit;
        font-size: 30px;
    }
}

// Navigation
.top-nav {
    float: right;
    height: $nav-bar-height;

    // Centering contents vertically
    display: flex;
    align-items: center;

    // Color
    color: var(--special-text-color);
    ul {
        // No bullet points or margin
        margin: 0px;
        list-style: none;
    }
    li {
        display: inline-block;
        margin-right: 30px;
    }
    i {
        display: inline-block;
    }
    button {
        outline: inherit;
    }
}

// Bright/Dark theme toggle button
.theme-toggle {
    button {
        outline: inherit;

        margin-left: 5px;
        margin-right: 5px;
    }
}

// Mobile stuff
.mobile-menu-toggle {
    display: none;
}

.mobile-nav {
    display: none;
    background-color: var(--color-2);     
    overflow: hidden;
    ul {
        margin: 0px;
        padding: 10px;
    }
    li {
        height: 50px;
        // Centering contents vertically
        display: flex;
        align-items: center;
    }
    a {
        text-decoration: none;
    }
}

// If screen is too small, switch to mobile mode
@media (max-width: 950px) {
    .mobile-menu-toggle {
        display: flex;
        float: left;
    }

    .mobile-nav {
        display: block;
    }

    .logo {
        float: right;
    }

    .top-nav {
        display: none;
    }
}
