.main {
    padding: 10px;
    margin-bottom: 40px;
    display: block;
    transition: background-color 0.2s;
}

// Color schemes
.main {
    background-color: var(--color-1);
}

nav a, .theme-toggle button {
    color: var(--special-text-color);
    transition: color 0.2s;
    &:hover {
        color: var(--special-text-color-emphasize);
    }
}

.logo {
    display: inline-block;
}

// Navigation
nav {
    display: inline-block;
    margin-top: 2vh;
    margin-left: 5vh;
    ul {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    li {
        display: inline-block;
        margin-right: 30px;
    }
    a {
        text-decoration: none;
        &:active {
            filter: hue-rotate(180deg);
        }
    }
}

// Bright/Dark theme toggle
.theme-toggle {
    display: inline-block;
    margin-top: 2vh;
    button {
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        outline: inherit;
    }
}